*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: 100%;
  }

  body {
background: rgb(223, 220, 220);
list-style-type: none;
  }
  .container {
      font-size: calc(2vmin + 5px);
      width: 100vw;
      height: 100vh;
  }
  .box {
      background: red;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
      box-shadow: 5px 5px 10px black;
  }
  .onglets {
      height: 8vh;
      display: flex;
  }
  button {
      width: 100%;

  }
  .onglet1 {
      border: 5px solid blue;
  }

  